$white: #ffffff;
$black: #333333;
$red: #d9534f;

$gengar:  #282828;
$haunter: #4b4b4b;
$charmander:  #c9302c;
$pikachu: #f0ad4e;
$squirtle: #29cdfe;
$bulbasaur: #1eb700;
$mewtwo: WhiteSmoke;
$steelix: #858585;
$ghastly: #803cb5;
