@import 'colors.scss';

.deployments-root {
    color: $white;
    padding: 10px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    .panel {
        background-color: transparent;
    }
}

.deployment {
    background-color: $haunter;
    margin: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;

    > div {
        display: inline-block;
        margin: 0 10px 0 0;

        &.deployment-buttons {
            display: none;
            margin:1px 0 3px 10px;
        }
    }

    &:hover {
        .deployment-buttons {
            display: inline-block;
        }
    }
}

.deployment-progress {
    visibility: hidden;

    &.visible {
        visibility: visible;
    }
}

.deployment-name {
    width: 400px;
    max-width: 400px;
}

.deployment-version {
    width: 70px;
}

.deployment-host {
    width: 200px;   
}

.deployment-state {
    text-transform: uppercase;

    &.stopped {
        color: $red;
    }
}

.deployment-alert {
    height: 40px;
    overflow: hidden;
    position: relative;

    > div {
        background-color: $red;
        color: $white;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: -50px;
        width: 70%;

        &.visible {
            animation: pulldown 7s;
        }

        padding: 10px 0;
    }
}

@keyframes pulldown {
    0% {
        top: -50px;
    }

    10% {
        top: 0;
    }

    80% {
        top: 0;
    }

    100% {
        top: -50px;
    }
}
