<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="C:\forge-logs\Smith\log.${date:format=yyyyMMdd}.txt" archiveFileName="C:\forge-logs\Smith\archive\log.{#}.txt" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd" concurrentWrites="false" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
    <target name="debug" xsi:type="Debugger" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
  </rules>
</nlog>